h1 {
    color: black;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
}

li {
    color: black;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    font-weight: bold;
}

img {
    height:auto;
    width: 250px;
}

p {
    font-family: 'Courier New', Courier, monospace;
}